@import url('https://fonts.googleapis.com/css?family=Raleway|Titillium+Web');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Titillium Web', sans-serif;
  background-color: rgba(232, 133, 207, 0.10);
}

main {
  flex: 1 0 auto;
}

header {
  background-image: url("../images/cupcakes4.png");
  background-size: cover;
  flex-direction: column;
  height: 375px;
  margin-bottom: 35px;
}
.home_header {
  margin-bottom: 0;
}

@media only screen and (max-width: 960px) {
  header {
    height: 300px;
}
}

@media only screen and (max-width: 760px) {
  header {
    height: 250px;
  }
}

@media only screen and (max-width: 660px) {
  header {
    height: 200px;
  }
}

@media only screen and (max-width: 500px) {
   header {
     height: 400px;
     background-image: url('../images/mobile_cupcakes_strawberries.png');
   }
}


nav {
  background-color: rgba(232, 133, 207, 0.10);
}

nav .brand-logo {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  color: #BADE00;
  margin-left: 1%;
  padding-left: 75px;
  background-image: url("../images/cupcake4.svg");
  background-repeat: no-repeat;
  background-position: 3% 5px;
  background-size: 50px 50px;
}

nav ul a {
  color: #F01B69;
}

.back_footer {
  margin-left: 45%;
  font-size: 1.7rem;
}

@media only screen and (max-width: 1100px) {
  .back_footer {
    margin-left: 0;
    font-size: 1.3rem;
}
}

@media only screen and (max-width: 500px) {
  .back_footer {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .home_intro h2 {
    font-size: 2.7rem;
  }

}

.collectionCol {
  margin-top: 10%;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #000;
}


.content {
  width: 90%;
  margin-left: 5%;
}

.front-end  h2 {
  color: #59013D;
  color: #F01B69;
  text-align: center;
}

.front-end  h4 {
  color: #59013D;
  color: #F01B69;

}

.front-end .tags {
  border-radius: 4px;

}
.front-end .tags li {
  color: #333;
  font-size: 1.3rem;

}

.front-end footer {
  background-color: #F01B69;
}

 .front-end footer.page-footer .footer-copyright {
  background-color: #F01B69;
  margin-left: 2%;
}

.front-end .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #F01B69;

}

.ind_post img {
  width: 40%;
  margin-left: 30%;
}
.ind_post h2 {
  text-align: center;
}
@media only screen and (max-width: 900px) {
  .ind_post img {
    width: 80%;
    margin-left: 10%;
  }

  .ind_post h2 {
    font-size: 3rem;
  }
}

.deleteIcon:hover {
  color: red;
  font-size: 2em;
}


.highlight {
  color: rgb(240, 36, 8);

}

.tags{
  font-size: 1.3rem;
}

.admin_panel {
  width: 70%;
  margin-left: 15%;
}

/* label focus color */
.input-field input[type=text]:focus + label {
 color:   #F01B69;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #F01B69;
 box-shadow: 0 1px 0 0 #F01B69;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #F01B69;
 box-shadow: 0 1px 0 0 #F01B69;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #F01B69;
 box-shadow: 0 1px 0 0 #F01B69;
}

[type="checkbox"]:checked+label:before {
border-right: 2px solid #F01B69;
border-bottom: 2px solid #F01B69;
}


.secondary-content {
  color: #F01B69;
}

.front-end nav i.material-icons {
  color: #000;
}

a {
  color: #F01B69;
}

.login_nav {
  margin-bottom: 25px;
}


/*textarea.materialize-textarea:focus:not([readonly]) {
  boder-bottom: 1px solid #F01B69;
  box-shadow: 0 1px 00 #F01B69;
}*/
