@import url('https://fonts.googleapis.com/css?family=Raleway|Titillium+Web');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Titillium Web', sans-serif;
  background-color: rgba(232, 133, 207, 0.10);
}

main {
  flex: 1 0 auto;
}

header {
  background-image: url("../images/cupcakes4.png");
  background-size: cover;
  flex-direction: column;
  height: 375px;
  /*border-bottom: 5px solid #59013D;*/
  margin-bottom: 35px;
}


/*main .parallax-container {
  height: 350px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}*/
nav {
  background-color: rgba(232, 133, 207, 0.10);
  /*background-color: #BADE00;*/
  /*border-bottom: 3px solid #BADE00;*/
}

nav .brand-logo {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  color: #BADE00;
  /*color: #59013D;*/
  /*color: #fff;*/
  margin-left: 1%;
  padding-left: 75px;
  background-image: url("../images/cupcake4.svg");
  background-repeat: no-repeat;
  background-position: 3% 5px;
  background-size: 50px 50px;
}

nav ul a {
  /*color: #59013D;*/
  color: #F01B69;
}


.parallax img {
  max-width: 50%;
}

.collectionCol {
  margin-top: 10%;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #000;
}


.content {
  width: 90%;
  margin-left: 5%;
}

.front-end  h2 {
  color: #59013D;
  color: #F01B69;
  text-align: center;
}

.front-end  h4 {
  color: #59013D;
  color: #F01B69;

}

.front-end .tags {
  border-radius: 4px;

}
.front-end .tags li {
  color: #333;
  font-size: 1.3rem;

}

.front-end footer {
  background-color: #F01B69;
}

 .front-end footer.page-footer .footer-copyright {
  background-color: #F01B69;
  margin-left: 2%;
}

.front-end .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #F01B69;

}



.ind_post img {
  width: 40%;
  margin-left: 30%;
}
.ind_post h2 {
  text-align: center;
}

.deleteIcon:hover {
  color: red;
  font-size: 2em;
}


.highlight {
  color: rgb(240, 36, 8);

}

.tags{
  font-size: 1.3rem;
}

.admin_panel {
  width: 70%;
  margin-left: 15%;
}

/* label focus color */
.input-field input[type=text]:focus + label {
 color:   #F01B69;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #F01B69;
 box-shadow: 0 1px 0 0 #F01B69;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #F01B69;
 box-shadow: 0 1px 0 0 #F01B69;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #F01B69;
 box-shadow: 0 1px 0 0 #F01B69;
}

[type="checkbox"]:checked+label:before {
border-right: 2px solid #F01B69;
border-bottom: 2px solid #F01B69;;
}


.secondary-content {
  color: #F01B69;
}


/*textarea.materialize-textarea:focus:not([readonly]) {
  boder-bottom: 1px solid #F01B69;
  box-shadow: 0 1px 00 #F01B69;
}*/
